.cp-modal-header {
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  font-size: 16px;
}

.cp-modal-body {
  padding: 20px;
  font-size: 16px;
  color: #444;
}

.cp-modal-footer {
  padding: 15px 20px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cp-btn-modal {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 14px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.cp-btn-modal:hover {
  background: #ccc;
}

.cp-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.cp-form-group label {
    font-size: 13px;
    margin-bottom: 15px;
}

.cp-form-group select {
  height: 36px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 0 8px;
}

.cp-btn-primary {
  padding: 0 12px;
  background: #2bc05d;
  border: 1px solid #c2f5cf;
  color: #eafdee;
  cursor: pointer;
}

.cp-btn-primary:hover {
background: #eafdee;
  color: #2bc05d;
}

.cp-upload {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.cp-upload input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
}

.cp-file-name {
    font-size: 13px;
    color: #555;
}