.cp-layout {
  height: 100vh;
  display: flex;
}

.cp-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cp-content {
  flex: 1;
  background: #f5f6fa;
  padding: 20px;
}